<div id="footer" class="mt-70-mob">  
  <section class="bg-warning">
    <div class="container">
      <div class="row pt-21 pb-21">
        <div class="col-md-6 pt-7 small">
          <nav>
            <% unless current_provider %>
              <%= link_to 'Regístrate como proveedor', new_provider_path, class: "h5 text-muted not-underline" %> <br>
              <%= link_to 'Ingresa a tu cuenta', new_providers_session_path, class: "h5 text-muted not-underline" %>
            <% end %>  
          </nav>
        </div>
    </div>
  </section>
</div>