#mini-profiles {
	.container-fluid {
		padding: 3px;
		.profile-view {
			.col-md-4 {
				i {
					color: #2ad1e1;
				}
				.profile-pic {
					img {
						width: 150px;
					}
					h3 {
						color: #2ad1e1;
					}
				}
			}
			.col-md-8 {
				.info {
					p {
					 color: gray;
					}
					i {
						color: #2ad1e1;
					}
				}
			}
		}
	}
}