<section id="home-title" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Nunca ha sido tan fácil<br><strong>cuidar de tu hogar</strong></h1>
        <p>Selecciona un servicio para comenzar</p>
      </div>
    </div>
  </div>
</section>
<section id="home-filters"> 
  <div class="container p-35">
    <div class="row">
      <ul class="list-unstyled">
        <li>
          <a href="#">
            <%= image_tag("car.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Nombre</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <%= image_tag("cline.png", :class => "img-circle" ) %>
            <div class="overlay">
              <span>Nombre</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="app/assets/images/doglove.png" class="img-circle">
            <div class="overlay">
              <span>Nombre</span>
            </div>
          </a>
        </li>
        <li>
          <a href="">
            <img src="app/assets/images/arbol.png" class="img-circle">
            <div class="overlay">
              <span>Nombre</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="row">
      <ul class="list-unstyled">
        <li>
          <a href="#">
            <img src="app/assets/images/pipe1.png" class="img-circle">
            <div class="overlay">
              <span>Nombre</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="app/assets/images/tool.png" class="img-circle">
            <div class="overlay">
              <span>Nombre</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="app/assets/images/car.png" class="img-circle">
            <div class="overlay">
              <span>Nombre</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="home-pasos text-center">
  <h2 class="uppercase">¿Cómo Funciona?</h2>
</div>
<section class="clearfix full-width-grid text-center">
  <div class="col-md-4 p-0">
    <a href="#" class="content first p-70">
      <h1>1</h1>
      <h3>Elige</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Numquam similique, tempore suscipit officiis consequatur, magni deserunt quia porro.</p>
    </a> 
  </div>
  <div class="col-md-4 p-0">
    <a href="#" class="content second p-70">
      <h1>2</h1>
      <h3>Contrata</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit Numquam similique, tempore suscipit officiis consequatur, magni deserunt quia porro.</p>
    </a>
  </div>
  <div class="col-md-4 p-0">
    <a href="#" class="content third p-70">
      <h1>3</h1>
      <h3>Evalua</h3>
      <p>Lorem ipsum dolor sit amet, consectetur aditate voluptates amet voluptas, cum provident? Repudiandae voluptates quo voluptatem, rerum in.</p>
    </a>
  </div>
  <div class="row">
    <a href="#" class="btn-lg btn btn-block btn-primary">Registrate Ahora</a>
  </div>
</section>
<section id="home-profiles">
  <div class="container pb-35">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="profile"> 
            <img src="/images/girl.jpg" class="img-circle img-responsive">
            <h4><strong>Nombre A.</strong><h4>
            <h5><span>SERVICIO DOMÉSTICO</span></h5>
            <h4><strong>96%</strong></h4><p>Calificación Positiva<br>7 reviews</p>
            <button class="job bg-primary btn btn-primary" data-toggle="modal" data-target=".modal-3">Contratame <br> S/28.00/hr</button>
          </div> 
        </div>
        <div class="col-md-4 text-center">
          <div class="profile"> 
            <img src="app/assets/images/profile.png" class="img-circle img-responsive">
            <h4><strong>Nombre A.</strong><h4>
            <h5><span>SERVICIO DOMÉSTICO</span></h5>
            <h4><strong>96%</strong></h4><p>Calificación Positiva<br>7 reviews</p>
            <button class="job bg-primary btn btn-primary" data-toggle="modal" data-target=".modal-2">Contratame <br> S/28.00/hr</button>
          </div>    
        </div>
        <div class="col-md-4 text-center">
          <div class="profile"> 
            <img src="app/assets/images/aviary.png" class="img-circle img-responsive">
            <h4><strong>Nombre A.</strong><h4>
            <h5><span>SERVICIO DOMÉSTICO</span></h5>
            <h4><strong>96%</strong></h4><p>Calificación Positiva<br>7 reviews</p>
            <button class="job btn btn-primary" data-toggle="modal" data-target=".modal-1">Contratame <br> S/28.00/hr</button>
          </div>    
        </div>
      </div>
    </div>     
</section>
<footer class="bg-gray-darker text-muted pt-70 pb-14">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h2>Servihogar</h2>
        <p>Servihogar conecta proveedores de servicios para el hogar con gente que lo necesita.</p>
      </div>
      <div class="col-sm-7 text-right">
        <a href="#"><img src="app/assets/images/facebook.png" class="img-fb"></a>
        <a href="#"><img src="app/assets/images/twitter.png"></a>
      </div>
    </div>
  </div>
</footer>

<!-- PROFILE MODALS -->
<div class="modal fade modal-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><img src="img/logo_servi-hogar.png"></h4>
      </div> 
      <div class="modal-body">
        <section id="mini-profiles">          
          <div class="container-fluid bg-white mt-35">
            <div class="row">
              <div class="profile-view">
                <div class="col-md-3">
                  <div class="profile-pic">
                    <img src="img/aviary.png" class="img-circle img-responsive">
                    <h3>Lorena N.</h3>
                    <button class="job btn btn-sm btn-primary">CONTRATAR</button>
                    <br>
                    <a href="vistas/perfil.html" class=".text-primary "><h4>Ver perfil</h4></a>
                  </div>
                </div >
                <div class="col-md-6">
                  <div class="info">
                    <h2>Hola, soy Lorena.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <p>Soy una Server desde el <strong>2014</strong>.</p>
                    <p>He hecho <strong>57 servicios</strong>.</p>
                    <p>Soy<strong> muy eficaz</strong>.</p>
                    <p>Tengo un <strong>vehiculo</strong> si necesitas uno.</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="coment">
                    <h3><strong>96%</strong> Rating Positivo</h3> 
                    <p>"Lorena es una grandiosa persona, estoy muy feliz de haber contratado sus servicios, es muy eficiente. Me encantaria volver a contactarla."</p>
                    <button class="btn"><strong>+</strong> Comentarios</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><img src="img/logo_servi-hogar.png"></h4>
      </div> 
      <div class="modal-body">
        <section id="mini-profiles">          
          <div class="container-fluid bg-white mt-35">
            <div class="row">
              <div class="profile-view">
                <div class="col-md-3">
                  <div class="profile-pic">
                    <img src="img/profile.png" class="img-circle img-responsive">
                    <h3>Lorena N.</h3>
                    <button class="job btn btn-sm btn-primary">CONTRATAR</button>
                    <br>
                    <a href="vistas/perfil.html" class=".text-primary "><h4>Ver perfil</h4></a>
                  </div>
                </div >
                <div class="col-md-6">
                  <div class="info">
                    <h2>Hola, soy Lorena.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <p>Soy una Server desde el <strong>2014</strong>.</p>
                    <p>He hecho <strong>57 servicios</strong>.</p>
                    <p>Soy<strong> muy eficaz</strong>.</p>
                    <p>Tengo un <strong>vehiculo</strong> si necesitas uno.</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="coment">
                    <h3><strong>96%</strong> Rating Positivo</h3> 
                    <p>"Lorena es una grandiosa persona, estoy muy feliz de haber contratado sus servicios, es muy eficiente. Me encantaria volver a contactarla."</p>
                    <button class="btn"><strong>+</strong> Comentarios</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><img src="img/logo_servi-hogar.png"></h4>
      </div> 
      <div class="modal-body">
        <section id="mini-profiles">          
          <div class="container-fluid bg-white mt-35">
            <div class="row">
              <div class="profile-view">
                <div class="col-md-3">
                  <div class="profile-pic">
                    <img src="img/girl.jpg" class="img-circle img-responsive">
                    <h3>Lorena N.</h3>
                    <button class="job btn btn-sm btn-primary">CONTRATAR</button>
                    <br>
                    <a href="vistas/perfil.html" class=".text-primary "><h4>Ver perfil</h4></a>
                  </div>
                </div >
                <div class="col-md-6">
                  <div class="info">
                    <h2>Hola, soy Lorena.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <p>Soy una Server desde el <strong>2014</strong>.</p>
                    <p>He hecho <strong>57 servicios</strong>.</p>
                    <p>Soy<strong> muy eficaz</strong>.</p>
                    <p>Tengo un <strong>vehiculo</strong> si necesitas uno.</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="coment">
                    <h3><strong>96%</strong> Rating Positivo</h3> 
                    <p>"Lorena es una grandiosa persona, estoy muy feliz de haber contratado sus servicios, es muy eficiente. Me encantaria volver a contactarla."</p>
                    <button class="btn"><strong>+</strong> Comentarios</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </section>